<meta charset="utf-8"/>
<meta name="view-port" content='width=device-width, user-scalabel=0'/>

<title>turning-robot of vue</title>

<style>
  *{margin: 0;padding: 0;max-width: 100%;}
  .a{text-decoration: underline;cursor: pointer;}
  .text-blue{color: #2cadf0;}
  .search{margin: 1em auto;padding: .5em 1em;max-width: 95%;min-width: 90%;}
  .text{padding: 10px;}
  .link-frame{border: none;height: 50%;}
  .news-ol{list-style-type: armenian;}
  .news-ol>li{margin-top: .5em;}
</style>

<div class="robot">
  <center class="">
    <input class="search" type="text" v-model='input' v-on='keyup: enterSearch| key 13' placeholder="请输入要查找的东东，回车键发起搜索" autofocus />
  </center>
  
  <div class="" v-if='status== 100000'>
    <center class="text" v-text='result.text'></center>
  </div>
  
  <div class="link" v-if='status== 200000'>
    <center class='' v-text='result.text'></center>
    <iframe class="link-frame" v-src="result.url"></iframe>
  </div>
  
  <div class="" v-if='status== 302000'>
    <center class="" v-text='result.text'></center>
    <ol class="news-ol">
      <li class="" v-repeat='result.list'>
        <p class=''>
          <span class="" v-text='"【"+source+"】"'></span>
          <big class="" v-text='article'></big>
        </p>
        <img class="" v-src='icon' width='1.25em' height="1.25em" />
        <a class="a text-blue" v-attr-href='detailurl' v-text='detailurl'></a>
      </li>
    </ol>
  </div>
  
  <div class="" v-if='status== 305000'>
    <center class='' v-text='result.text'></center>
    <ol class="train-ol">
      <li class="" v-repeat='result.list'>
        <p class="">
          <span class="" v-text='"["+trainnum+"]"'></span>
          <span class="" v-text='start+"~"'></span>
          <span class="" v-text='terminal'></span>
        </p>
        <p class="">
          <img class="" v-src='icon' />
          <span class="" v-text='starttime+"~"'></span>
          <span class="" v-text='endtime'></span>
        </p>
        <a class="a text-blue" v-attr-href='detailurl' v-text='detailurl'></a>
      </li>
    </ol>
  </div>
  
  <div class="" v-if='status== 308000'>
    <center class='' v-text='result.text'></center>
    <ol class="train-ol">
      <li class="" v-repeat='result.list'>
        <p class="">
          <left class='' v-text='"【"+name+"】"'></left>
          <span class="" v-text='info'></span>
        </p>
        <img class="" v-src='icon' width="1.25em" height="1.25em" />
        <a class="a text-blue" v-attr-href='detailurl' v-text='detailurl'></a>
      </li>
    </ol>
  </div>
</div>

<script src="bower_components/ajax/dist/ajax.min.js"></script>
<script src="bower_components/vue/dist/vue.min.js"></script>
<script>
  var vm= new Vue({
    el: '.robot',
    data: {
      turning_key: '9a0fce02fe4282343c2d3a38a035be50',
      input: '',
      status: 0,
      result: ''
    },
    methods: {
      enterSearch: function(e){
        if(e.which== 13&& !!this.input.trim()){
          var ajax= new Ajax()
          ajax
            .get(
              'http://www.tuling123.com/openapi/api?key='+ this.turning_key+ '&info='+ this.input
            )
            .done(function(res, xhr){
              vm.$data.status= res.code
              switch(vm.$data.status){
                case 100000:
                  //文本类数据 {"code":100000,"text":"恩恩，害羞ing……"}
                  vm.$data.result= res
                  break;
                case 200000:
                  //网址
                  vm.$data.result= res
                  break;
                case 302000:
                  //新闻
                  vm.$data.result= res
                  break;
                case 305000:
                  //列车
                  vm.$data.result= res
                  break;
                case 308000:
                  //菜谱、视频、小说
                  vm.$data.result= res
                  break;
                default:
                  vm.$data.status= 100000
                  console.warn(vm.$data.result= 'robot resting...')
              }
            })
        }
      }
    }
  })
</script>