@import 'https://unpkg.com/material-design-lite@1.3.0/dist/material.cyan-teal.min.css';
@import "/src/css/index.dark.css" only screen and (prefers-color-scheme: dark);

html, body{
  /* background:url(/img/cdbg_1010.png) repeat center;background-size: 15px; */
  background: whitesmoke;
  margin: 0;padding: 0;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
html{
  font-family: sans-serif;
}
html *{
  font-family: 'Open Sans', serif, fantasy, sans-serif;
}
::-webkit-scrollbar{
  width: 0;
}

[cloak] *{
  display: none;
}
[cloak]::before,
[cloak]::after{
  display: block;
  content: '';
  width: 5vmin;
  height: 5vmin;
  margin: -3vmin auto auto -3vmin;
  border-radius: 999pt;
  border: .2em solid transparent;
  border-top-color: lightseagreen;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotating 2s ease-in-out infinite;
}
[cloak]::after{
  border-color: transparent lightseagreen transparent transparent;
  animation-delay: .2s;
}
@keyframes rotating{
  to{
    transform: rotate(720deg);
  }
}
