@import "/bower_components/material-design-lite/material.min.css";
@import "/bower_components/font-awesome-4.2.0/css/font-awesome.min.css";

html, body{
  /* background:url(/img/cdbg_1010.png) repeat center;background-size: 15px; */
  background: whitesmoke;
  margin: 0;padding: 0;
}
::-webkit-scrollbar{
  width: 0;
}

.index-sec{
  background-color: lightseagreen;
  background: linear-gradient(120deg, lightseagreen, #159957);
  background: -webkit-linear-gradient(330deg, #20B2A9, #159957);
}
.navbar{
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.footer-index{
  _height: 100%;
  min-height: 100%;
  position: relative;
}
.footer-container{
  /* bottom: 0; */
  position: absolute;
  width: 100%;
  background-color: lightsteelblue;
  /* background: linear-gradient(lightseagreen,transparent);
  background: -webkit-linear-gradient(lightseagreen, transparent); */
}

@media(min-width: 768px){
  .index-sec, .footer-index{
    margin: 0 auto;
  }
}
